  <mat-toolbar>
    <span class="fill-remaining-space">Registration Form TEST </span>
  </mat-toolbar>
  
  <mat-dialog-content class="mat-typography">
    <div class="container" novalidate> 
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" enctype="multipart/form-data">
    
           <mat-form-field class="form-element">
            <input matInput placeholder="First name" formControlName="fname">
            <mat-error *ngIf="!formGroup.controls['fname'].valid && formGroup.controls['fname'].touched">
              {{ titleAlert }}
            </mat-error>
            </mat-form-field>
          <mat-form-field class="form-element">
          <input matInput placeholder="Last name" formControlName="lname">
            <mat-error *ngIf="!formGroup.controls['lname'].valid && formGroup.controls['lname'].touched">
              {{ titleAlert }}
            </mat-error>
           </mat-form-field>
       
           <mat-form-field class="form-element">
        <input matInput placeholder="Email address" formControlName="email" type="email">
        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
          {{ getErrorEmail() }}
        </mat-error>
           </mat-form-field>

           <mat-form-field class="form-element">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required type="password"/>
            <!-- <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"> -->
            <mat-icon  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        <!-- </button> -->
        <mat-error *ngIf="!formGroup.controls['password'].valid">
            Password is required
          </mat-error>
        </mat-form-field>

          <mat-form-field class="form-element">
        <input matInput placeholder="Mobile number" formControlName="mono" type="tel">
          <!-- <mat-error *ngIf="!formGroup.controls['mono'].valid && formGroup.controls['mono'].touched">
            {{ getErrorContact() }}
          </mat-error> -->
            </mat-form-field>
           <div class="form-element">
        <label>Gender : </label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
            </div>

            <mat-list-item class="primary-imenu-item" role="listitem">
            <mat-form-field class="form-element">
                <mat-select 
                placeholder="Hobbies" 
                name="hobby" 
                formControlName="hobby"
                class="filter-select" 
                multiple >
                  <mat-option *ngFor="let hobby of hobbies" [value]="hobby.value" >
                    {{hobby.value}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
              </mat-list-item>

              <div class="form-element"> 
              
              <input  type="file"  id="photo"
                      name="photo"
                      accept="image/*"
                      (change)="uploadImage($event)"
                      formControlName="photo"  #fileInput />
              </div>
              <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px"> -->
              <!-- <div class="form-element">
                <mat-form-field>
                  <ngx-mat-file-input [formControl]="fileControl"  [accept]="accept" [color]="color">
                    <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                  </ngx-mat-file-input>
                </mat-form-field>
              </div>
                   -->


        <!-- <mat-form-field class="form-element">
            <mat-select name="hobbies" multiple>
                <mat-option *ngFor="let hobbies of hobby" [value]="hobbies">
                   {{ hobbies }}
                </mat-option>
           </mat-select>
        </mat-form-field> -->
     
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button">Register</button>
          <!-- <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Register</button> -->
      </div>
     
  </form>
  </div>
  </mat-dialog-content>
 