.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
input[type=text], [type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.leftdiv {
  float: left;
  width: 65%;
  margin-left: 10px;
  margin-right: 5px;
  
  }