* {
    font-family: "Titillium Web", sans-serif;
  }

  html {
    box-sizing: border-box;
  }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

span {
  margin: 10px;
}
.row.content{
  height: 300px;
}
form{
  display: block;
  border: black;
  color: aliceblue;
  background-color: black;
  
  width: 70%;
}
input[type=text] {
  color: aliceblue;

}
h2,h4{
  text-align: center;
}
.input-group{
  width: 100%;
  margin: 10px;
}
select{
  width: 45%;
  padding: 12px 20px 12px 20px;
  margin: 8px 10px 20px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.bgcolor{
  margin: 30px;
  background-color: black;
}
.bgcolour {
background-color: hotpink;
margin-top: -20px;

}
p{
  width: 50%;
  margin-top: 450px;
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
  background-color:mediumvioletred;
} 
     /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height: auto;} 
      }


